force-app/main/default/flows/Quote_After_Save_Create_Line_Items_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_QLIs_to_Create_List</name>
        <label>Assign New QLIs to Create List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_NewQLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewQLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Create_QLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_New_QLI</name>
        <label>Assign Values to New QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_NewQLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewQLI.Usage_CPUh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_QLIs.CPUh__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_QLIs_to_Create_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OLIs_Exist</name>
        <label>Check OLIs Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reset_Auto_Create_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OLIs Found</defaultConnectorLabel>
        <rules>
            <name>OLIs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_OLICollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Create_QLIs</targetReference>
            </connector>
            <label>OLIs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_QLIs_Exist</name>
        <label>Check QLIs Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_OLIs_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No QLIs Found</defaultConnectorLabel>
        <rules>
            <name>QLis_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_QLICollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_QLIs</targetReference>
            </connector>
            <label>QLis Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_CPUh</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Create_QLIs.CPUh__c}),&quot;&quot;,TEXT({!Loop_Create_QLIs.CPUh__c}))</expression>
    </formulas>
    <interviewLabel>Quote After Save | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote After Save | Create Line Items from Opportunity</label>
    <loops>
        <name>Loop_Create_QLIs</name>
        <label>Loop Create QLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varR_OLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_New_QLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_QLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_QLIs</name>
        <label>Create QLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Auto_Create_Flag</targetReference>
        </connector>
        <inputReference>varR_NewQLIs</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_QLIs</name>
        <label>Delete Existing QLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_OLIs_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varR_OLICollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>CPUh__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_QLIs_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>varR_QLICollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Auto_Create_Flag</name>
        <label>Reset Auto Create Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Auto_Create_Line_Items__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auto_Create_Line_Items__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
    <variables>
        <name>varR_NewQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varR_NewQLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_QLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
