force-app/main/default/flows/Quote_Before_Save_Stamp_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_Term_Length</name>
        <label>Calculate Term Length</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Term_Length_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_TermLengthMonths</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Frozen_Exchange_Rate</name>
        <label>Set Frozen Exchange Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Exchange_Rate_at_Creation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_CurrentExchangeRate.ConversionRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Order_Dates_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Dates_from_Opportunity</name>
        <label>Set Order Dates from Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Order_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityDates.Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityDates.Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Term_Length</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StampFields</name>
        <label>Stamp Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nameQuoteVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Seqera_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Legal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Legal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Contract_Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Primary_Customer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Legal_Notice_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Legal_Contact.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Contact.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SLA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SLA_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Seqera_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Exchange_Rate_Needed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Exchange_Rate_Needed</name>
        <label>Check Exchange Rate Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Order_Dates_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rate Already Set</defaultConnectorLabel>
        <rules>
            <name>Rate_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exchange_Rate_at_Creation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Exchange_Rate</targetReference>
            </connector>
            <label>Rate Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Dates_Needed</name>
        <label>Check Order Dates Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Calculate_Term_Length</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dates Already Set</defaultConnectorLabel>
        <rules>
            <name>Dates_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Contract_Info</targetReference>
            </connector>
            <label>Dates Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Record</name>
        <label>New or Existing Record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Exchange_Rate_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Contact</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forN_TermLengthMonths</name>
        <dataType>Number</dataType>
        <expression>ROUND(({!$Record.Order_End_Date__c} - {!$Record.Order_Start_Date__c}) / 30.44, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>OpportunityName Quote (Date)</description>
        <name>nameQuoteVar</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Opportunity.Name}&amp; &apos; Quote (&apos; &amp;
TEXT({!$Flow.CurrentDate})&amp;&apos;)&apos;, 120)</expression>
    </formulas>
    <interviewLabel>Quote Before Save | Stamp Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Before Save | Stamp Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Exchange_Rate</name>
        <label>Get Current Exchange Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Frozen_Exchange_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>DatedConversionRate</object>
        <outputReference>varR_CurrentExchangeRate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConversionRate</queriedFields>
        <queriedFields>IsoCode</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>NextStartDate</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Contact</name>
        <label>Get Invoice Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StampFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Contact</name>
        <label>Get Legal Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Contract_Info</name>
        <label>Get Opportunity Contract Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Dates_from_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varR_OpportunityDates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>Contract_End_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Legal_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Existing_Record</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_CurrentExchangeRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DatedConversionRate</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityDates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
