force-app/main/default/flows/Quote_Line_Item_After_Save_Calculate_Rollup_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_One_Off_Charges</name>
        <label>Add to One-Off Charges</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_OneOffCharges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_QLIs.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TotalPaymentDue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_QLIs.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Add to Annual Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_AnnualTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_QLIs.Annual_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TotalPaymentDue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_QLIs.Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Product_Family_Check</name>
        <label>Product Family Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_One_Off_Charges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Software_Subscriptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QLIs.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software Subscriptions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>Software Subscriptions</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote Line Item After Save | Calculate Rollup Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Item After Save | Calculate Rollup Fields</label>
    <loops>
        <name>Loop_QLIs</name>
        <label>Loop QLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varR_QLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Family_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_QLI</name>
        <label>Get QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>varR_QLICollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Annual_Amount__c</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>Total_Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annual_Total__c</field>
            <value>
                <elementReference>varC_AnnualTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_Off_Charges__c</field>
            <value>
                <elementReference>varC_OneOffCharges</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Payment_Due__c</field>
            <value>
                <elementReference>varC_TotalPaymentDue</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QLI</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>100</triggerOrder>
    <variables>
        <name>varC_AnnualTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varC_OneOffCharges</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varC_TotalPaymentDue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varR_QLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
