force-app/main/default/flows/Quote_Button_Refresh_Contact_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_Contact</name>
        <label>Assign Billing Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_QuoteToUpdate.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_ContactsUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Contact</name>
        <label>Assign Legal Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_QuoteToUpdate.Customer_Legal_Notice_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_ContactsUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Contact</name>
        <label>Assign Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_QuoteToUpdate.Primary_Customer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_ContactsUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Contact_Fields</name>
        <label>Clear Contact Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_QuoteToUpdate.Primary_Customer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteToUpdate.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteToUpdate.Customer_Legal_Notice_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Contact_Roles</name>
        <label>Map Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varN_ContactsUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Role_Type</name>
        <label>Check Contact Role Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Role</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contact_Roles.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contact_Roles.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Contact</targetReference>
            </connector>
            <label>Primary Contact</label>
        </rules>
        <rules>
            <name>Is_Billing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contact_Roles.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Contact</targetReference>
            </connector>
            <label>Billing Contact</label>
        </rules>
        <rules>
            <name>Is_Legal_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contact_Roles.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legal_Contact</targetReference>
            </connector>
            <label>Legal Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Contacts_Found</name>
        <label>Check If Contacts Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_No_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Roles</defaultConnectorLabel>
        <rules>
            <name>Contact_Roles_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colVarR_ContactRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Contact_Roles</targetReference>
            </connector>
            <label>Contact Roles Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Success</name>
        <label>Check Update Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>No_Contacts_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_ContactsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_No_Mappings</targetReference>
            </connector>
            <label>No Contacts Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote Button | Refresh Contact Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Button | Refresh Contact Roles</label>
    <loops>
        <name>Loop_Contact_Roles</name>
        <label>Loop Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colVarR_ContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Contacts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_QuoteToUpdate.OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>colVarR_ContactRoles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Role</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <sortField>IsPrimary</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Contact_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>varR_QuoteToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Primary_Customer_Contact__c</queriedFields>
        <queriedFields>Billing_Contact__c</queriedFields>
        <queriedFields>Customer_Legal_Notice_Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Contacts</name>
        <label>Update Quote Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Update_Success</targetReference>
        </connector>
        <inputReference>varR_QuoteToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_No_Contacts</name>
        <label>No Contacts Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Contacts_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 183, 0);&quot;&gt;⚠️ &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 183, 0);&quot;&gt;&lt;strong&gt;No Contact Roles Found&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Contacts_Message</name>
            <fieldText>&lt;p&gt;No contact roles were found on the associated Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To use this feature:&lt;/p&gt;&lt;p&gt;1. Navigate to the Contact Roles Tab&lt;/p&gt;&lt;p&gt;2. Add Contact Roles in the Contact Roles related list&lt;/p&gt;&lt;p&gt;3. Return to the Quote and try again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_No_Mappings</name>
        <label>No Mappings Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Mappings_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 183, 0);&quot;&gt;⚠️ &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 183, 0);&quot;&gt;&lt;strong&gt;No Matching Contact Roles&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Mappings_Message</name>
            <fieldText>&lt;p&gt;Contact roles were found on the Opportunity, but none matched the expected role types for Quote contact fields.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Expected Role Types:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;• Primary Customer Contact: &quot;Primary Contact&quot; or IsPrimary = true&lt;/p&gt;&lt;p&gt;• Billing Contact: &quot;Invoice Contact&quot;&lt;/p&gt;&lt;p&gt;• Customer Legal Notice Contact: &quot;Legal Contact&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please update the contact role types on the Opportunity and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(75, 202, 129);&quot;&gt;✅ &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(75, 202, 129);&quot;&gt;&lt;strong&gt;Contact Roles Refreshed Successfully&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;The contact fields have been updated with the latest contact roles from the associated Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contacts Updated: {!varN_ContactsUpdated}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the updated contact information on the Quote record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colVarR_ContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varN_ContactsUpdated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_QuoteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
